@model Movie_Rental.ViewModels.RandomMovieViewModel
@{
	ViewBag.Title = "Random";
}
@{
	var className = Model.Customers.Count > 2 ? "text-danger" : null;
}
<h2 class="@className">Movie name is @Model.Movie.Name</h2>
<ul>
	@foreach (var customer in Model.Customers)
	{
		<li>The name of the customer is @customer.Name</li>
	}
</ul>

